<div ng-show="courses.length">
  <h1>Here are all of your courses:</h1>

      <div ng-app="courseRoster">
          <div ng-controller='CoursesCtrl'>
              <input type="text" ng-model="ctrlCourse">
              <li samplecourse coursename="{{ctrlCourse}}"></li>
          </div>
      </div>
    <!-- <li ng-repeat="item in courses">
      <a ui-sref="courses.students({ courseId: item.id })"> {{ item.name }}</a>
    </li> -->

</div>

<div class="col-md-4">
  <h3>Add a new course</h3>
  <!-- <div ng-app="welcometext">
      <welcometext></welcometext>
  </div> -->


  <div ng-app="courseRoster" ng-controller="CoursesCtrl as app">
  <form ng-submit="CoursesFactory.addCourse()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="CoursesFactory.courseName" class="form-control" placeholder="Enter a course name">
    </div>
    <button enter="btn btn-info" leave="btn btn-info" type="submit" >Submit</button>
  </form>
</div>

<div ui-view></div>
